.slide-reveal.ng-enter {
	-webkit-transition: 0.3s linear all;
	-moz-transition: 0.3s linear all;
	-o-transition: 0.3s linear all;
	transition: 0.3s linear all;

	opacity: 0.5;
	position: relative;
	opacity: 0;
	top: 10px;
}

.slide-reveal.ng-enter.ng-enter-active {
	top: 0;
	opacity: 1;

}

/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade
/* ------------------------------------------- */
/* line 64, ../sass/ng-animation.scss */
.toggle {
	-webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
}

/* line 68, ../sass/ng-animation.scss */
.toggle.ng-enter {
	opacity: 0;
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
}

/* line 73, ../sass/ng-animation.scss */
.toggle.ng-enter-active {
	opacity: 1;
}

/* line 77, ../sass/ng-animation.scss */
.toggle.ng-leave {
	opacity: 1;
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
}

/* line 82, ../sass/ng-animation.scss */
.toggle.ng-leave-active {
	opacity: 0;
}

/* line 86, ../sass/ng-animation.scss */
.slide-right, .slide-left, .slide-top, .slide-down {
	-webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
}

/* ------------------------------------------- */
/* Slide Top
/* ------------------------------------------- */
/* line 94, ../sass/ng-animation.scss */
.slide-top.ng-enter {
	transform: translateY(60px);
	-ms-transform: translateY(60px);
	-webkit-transform: translateY(60px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 100, ../sass/ng-animation.scss */
.slide-top.ng-enter-active {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	opacity: 1;
}

/* line 105, ../sass/ng-animation.scss */
.slide-top.ng-leave {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 111, ../sass/ng-animation.scss */
.slide-top.ng-leave-active {
	transform: translateY(60px);
	-ms-transform: translateY(60px);
	-webkit-transform: translateY(60px);
	opacity: 0;
}

/* ------------------------------------------- */
/* Slide Rigth
/* ------------------------------------------- */
/* line 121, ../sass/ng-animation.scss */
.slide-right.ng-enter {
	transform: translateX(60px);
	-ms-transform: translateX(60px);
	-webkit-transform: translateX(60px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 127, ../sass/ng-animation.scss */
.slide-right.ng-enter-active {
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	opacity: 1;
}

/* line 132, ../sass/ng-animation.scss */
.slide-right.ng-leave {
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 138, ../sass/ng-animation.scss */
.slide-right.ng-leave-active {
	transform: translateX(60px);
	-ms-transform: translateX(60px);
	-webkit-transform: translateX(60px);
	opacity: 0;
}

/* ------------------------------------------- */
/* Slide Left
/* ------------------------------------------- */
/* line 148, ../sass/ng-animation.scss */
.slide-left.ng-enter {
	transform: translateX(-60px);
	-ms-transform: translateX(-60px);
	-webkit-transform: translateX(-60px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 154, ../sass/ng-animation.scss */
.slide-left.ng-enter-active {
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	opacity: 1;
}

/* line 159, ../sass/ng-animation.scss */
.slide-left.ng-leave {
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 165, ../sass/ng-animation.scss */
.slide-left.ng-leave-active {
	transform: translateX(-60px);
	-ms-transform: translateX(-60px);
	-webkit-transform: translateX(-60px);
	opacity: 0;
}

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
/* line 174, ../sass/ng-animation.scss */
.slide-down.ng-enter {
	transform: translateY(-60px);
	-ms-transform: translateY(-60px);
	-webkit-transform: translateY(-60px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 180, ../sass/ng-animation.scss */
.slide-down.ng-enter-active {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	opacity: 1;
}

/* line 185, ../sass/ng-animation.scss */
.slide-down.ng-leave {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 191, ../sass/ng-animation.scss */
.slide-down.ng-leave-active {
	transform: translateY(-60px);
	-ms-transform: translateY(-60px);
	-webkit-transform: translateY(-60px);
	opacity: 0;
}

/* line 197, ../sass/ng-animation.scss */
.bouncy-slide-right, .bouncy-slide-left, .bouncy-slide-top, .bouncy-slide-down {
	-webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
	/* older webkit */
	-webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	/* easeOutBack */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
	/* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	/* custom */
}

/* ------------------------------------------- */
/* Bouncy Slide Top
/* ------------------------------------------- */
/* line 205, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter {
	transform: translateY(240px);
	-ms-transform: translateY(240px);
	-webkit-transform: translateY(240px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 211, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter-active {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	opacity: 1;
}

/* line 216, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 222, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave-active {
	transform: translateY(240px);
	-ms-transform: translateY(240px);
	-webkit-transform: translateY(240px);
	opacity: 0;
}

/* ------------------------------------------- */
/* Bouncy Slide Rigth
/* ------------------------------------------- */
/* line 231, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-enter {
	transform: translateX(240px);
	-ms-transform: translateX(240px);
	-webkit-transform: translateX(240px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 237, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-enter-active {
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	opacity: 1;
}

/* line 242, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-leave {
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 248, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-leave-active {
	transform: translateX(240px);
	-ms-transform: translateX(240px);
	-webkit-transform: translateX(240px);
	opacity: 0;
}

/* ------------------------------------------- */
/* Bouncy Slide Left
/* ------------------------------------------- */
/* line 258, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-enter {
	transform: translateX(-240px);
	-ms-transform: translateX(-240px);
	-webkit-transform: translateX(-240px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 264, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-enter-active {
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	opacity: 1;
}

/* line 269, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-leave {
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 275, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-leave-active {
	transform: translateX(-240px);
	-ms-transform: translateX(-240px);
	-webkit-transform: translateX(-240px);
	opacity: 0;
}

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
/* line 284, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-enter {
	transform: translateY(-240px);
	-ms-transform: translateY(-240px);
	-webkit-transform: translateY(-240px);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 290, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-enter-active {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	opacity: 1;
}

/* line 295, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-leave {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 301, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-leave-active {
	transform: translateY(-240px);
	-ms-transform: translateY(-240px);
	-webkit-transform: translateY(-240px);
	opacity: 0;
}

/* ------------------------------------------- */
/* Scale Fade
/* ------------------------------------------- */
/* line 312, ../sass/ng-animation.scss */
.scale-fade {
	-webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
}

/* line 316, ../sass/ng-animation.scss */
.scale-fade.ng-enter {
	transform: scale(0.7);
	-ms-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 322, ../sass/ng-animation.scss */
.scale-fade.ng-enter-active {
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	opacity: 1;
}

/* line 327, ../sass/ng-animation.scss */
.scale-fade.ng-leave {
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 333, ../sass/ng-animation.scss */
.scale-fade.ng-leave-active {
	transform: scale(0.7);
	-ms-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	opacity: 0;
}

/* ------------------------------------------- */
/* Spin Fade
/* ------------------------------------------- */
/* line 342, ../sass/ng-animation.scss */
.spin-toggle {
	-webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
}

/* line 346, ../sass/ng-animation.scss */
.spin-toggle.ng-enter {
	transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 352, ../sass/ng-animation.scss */
.spin-toggle.ng-enter-active {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	opacity: 1;
}

/* line 357, ../sass/ng-animation.scss */
.spin-toggle.ng-leave {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 363, ../sass/ng-animation.scss */
.spin-toggle.ng-leave-active {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	opacity: 0;
}

/* ------------------------------------------- */
/* Scale in Fade
/* ------------------------------------------- */
/* line 373, ../sass/ng-animation.scss */
.scale-fade-in {
	-webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
}

/* line 377, ../sass/ng-animation.scss */
.scale-fade-in.ng-enter {
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 0;
}

/* line 383, ../sass/ng-animation.scss */
.scale-fade-in.ng-enter-active {
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	opacity: 1;
}

/* line 388, ../sass/ng-animation.scss */
.scale-fade-in.ng-leave {
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transition-duration: 250ms;
	-webkit-transition-duration: 250ms;
	opacity: 1;
}

/* line 394, ../sass/ng-animation.scss */
.scale-fade-in.ng-leave-active {
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	opacity: 0;
}

/* ------------------------------------------- */
/* Bouncy Scale in Fade
/* ------------------------------------------- */
/* line 404, ../sass/ng-animation.scss */
.bouncy-scale-in {
	-webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
	/* older webkit */
	-webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	/* easeOutBack */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
	/* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	/* custom */
}

/* line 408, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-enter {
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	transition-duration: 450ms;
	-webkit-transition-duration: 450ms;
	opacity: 0;
}

/* line 414, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-enter-active {
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	opacity: 1;
}

/* line 419, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-leave {
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transition-duration: 450ms;
	-webkit-transition-duration: 450ms;
	opacity: 1;
}

/* line 425, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-leave-active {
	transform: scale(3);
	-ms-transform: scale(3);
	-webkit-transform: scale(3);
	opacity: 0;
}

/* ------------------------------------------- */
/* Flip In
/* ------------------------------------------- */
/* line 435, ../sass/ng-animation.scss */
.flip-in {
	-webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	/* easeOutQuad */
}

/* line 439, ../sass/ng-animation.scss */
.flip-in.ng-enter {
	transform: perspective(300px) rotateX(90deg);
	-ms-transform: perspective(300px) rotateX(90deg);
	-webkit-transform: perspective(300px) rotateX(90deg);
	transition-duration: 550ms;
	-webkit-transition-duration: 550ms;
	opacity: 0.7;
}

/* line 445, ../sass/ng-animation.scss */
.flip-in.ng-enter-active {
	transform: perspective(300px) rotateX(0deg);
	-ms-transform: perspective(300px) rotateX(0deg);
	-webkit-transform: perspective(300px) rotateX(0deg);
	opacity: 1;
}

/* line 450, ../sass/ng-animation.scss */
.flip-in.ng-leave {
	transform: perspective(300px) rotateX(0deg);
	-ms-transform: perspective(300px) rotateX(0deg);
	-webkit-transform: perspective(300px) rotateX(0deg);
	transition-duration: 550ms;
	-webkit-transition-duration: 550ms;
	opacity: 1;
}

/* line 456, ../sass/ng-animation.scss */
.flip-in.ng-leave-active {
	transform: perspective(300px) rotateX(135deg);
	-ms-transform: perspective(300px) rotateX(135deg);
	-webkit-transform: perspective(300px) rotateX(135deg);
	opacity: 0.7;
}

/* ------------------------------------------- */
/* Rotate In
/* ------------------------------------------- */
/* line 465, ../sass/ng-animation.scss */
.rotate-in {
	-webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
	/* older webkit */
	-webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	/* easeOutBack */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
	/* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
	/* custom */
}

/* line 469, ../sass/ng-animation.scss */
.rotate-in.ng-enter {
	transform: perspective(300px) rotateY(40deg);
	-ms-transform: perspective(300px) rotateY(40deg);
	-webkit-transform: perspective(300px) rotateY(40deg);
	transition-duration: 550ms;
	-webkit-transition-duration: 550ms;
	opacity: 0.7;
}

/* line 475, ../sass/ng-animation.scss */
.rotate-in.ng-enter-active {
	transform: perspective(300px) rotateY(0deg);
	-ms-transform: perspective(300px) rotateY(0deg);
	-webkit-transform: perspective(300px) rotateY(0deg);
	opacity: 1;
}

/* line 480, ../sass/ng-animation.scss */
.rotate-in.ng-leave {
	transform: perspective(300px) rotateY(0deg);
	-ms-transform: perspective(300px) rotateY(0deg);
	-webkit-transform: perspective(300px) rotateY(0deg);
	transition-duration: 550ms;
	-webkit-transition-duration: 550ms;
	opacity: 1;
}

/* line 486, ../sass/ng-animation.scss */
.rotate-in.ng-leave-active {
	transform: perspective(300px) rotateY(-40deg);
	-ms-transform: perspective(300px) rotateY(-40deg);
	-webkit-transform: perspective(300px) rotateY(-40deg);
	opacity: 0.7;
}