/*******************************************************************************
 * Copyright (c) 2013 Nils Hartmann (http://nilshartmann.net).
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     Nils Hartmann (nils@nilshartmann.net) - initial API and implementation
 ******************************************************************************/
/* http://getbootstrap.com/components/#navbar-fixed-top */
body {

	padding-top: 90px;

	background-color: #D8D8D8;
	color: #8E9092;
	font-family: 'Gudea', sans-serif;
	font-weight: normal;
}

@media screen {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: 'Gudea', sans-serif;
		font-weight: bold;
	}
}

.cmsvis-change-panel {
	border-collapse: separate;
	xborder: solid #CED0D2 5px;
	xbox-shadow: 5px 5px 20px #A7A9AB;
	background-color: #F7F7F7;
}

.cmsvis-change-panel .cmsvis-change-panel-title {
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #349EE1;
}

.cmsvis-change-panel-header {
	padding-bottom: 20px;
	xborder-bottom: 1px dashed #349EE1;
}

.cms-vis-change-panel-error {
	text-align: center;
	color: #E74C3C;
	font-size: 18px;
}

.cmsvis-change-panel li {
	float: right;
	border: 0
}

.cmsvis-change-panel > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a {
	font-family: Menlo, 'Courier New', Terminal, monospace;
	padding-bottom: 7px;
	letter-spacing: 2px;
	border-radius: 0;
	text-transform: uppercase;
	color: #8E9092;
}

.cmsvis-change-panel > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a {
	color: #349EE1;
	border: 0;
}

.cmsvis-change-panel form.centered {
	width: 380px;
	margin: 0 auto;
	height: 45px;
}

.cmsvis-change-panel form.centered-large {
	width: 640px;
	margin: 0 auto;
	height: 45px;
}

.cmsvis-change-panel input.form-control {
	font-family: Menlo, "Courier New", Terminal, monospace;
	letter-spacing: 3px;
	font-size: 18px;
	color: #8E9092;
	border: 0;

	border-radius: 0;
	text-align: center;
	box-shadow: none;
}

.cmsvis-change-panel button {
	margin-top: 20px;
}

.cmsvis-change-panel input.form-control:focus {
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.cmsvis-event-state {
	color: #6FBC9C;
	text-align: center
}

.cmsvis-change-summary {
	font-size: 18px;
	padding: 8px;
	background-color: white;
}

.cmsvis-changelog-summary {
	font-size: 18px;
	padding: 8px;
	background-color: white;
	font-family: Menlo, "Courier New", Terminal, monospace;
	text-align: center;
}

.cmsvis-changelog-title {
	color: #349EE1;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.cmsvis-change-summary .cmsvis-change-summary-title {
	font-family: Menlo, "Courier New", Terminal, monospace;
	letter-spacing: 3px;
	font-weight: bold;
	margin-right: 5px;
	color: #349EE1;
}

.cmsvis-query-code {
	font-family: Menlo, "Courier New", Terminal, monospace;
	font-size: 14px;
	border-top: 0;
}

.cmsvis-query-execution-time {
	font-size: 10px;
}

.cmsvis-history-entry-label {
	color: #349EE1;
}

.glyphicon-remove {
	color: red;
	text-align: center
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
	border-top: 1px solid #dddddd;
	border-bottom: 0;
}

.table tbody > tr.borderless > td {
	border-bottom: 0;
	border-top: 0;
}

