<div ng-controller="ChangelogViewController">
  <div class="cmsvis-change-panel-header">

    <h2 class="cmsvis-change-panel-title">Changelog</h2>

    <form class="form-inline centered-large" ng-submit="submit()">
      <div class="form-group">
        <input style="margin-top: 20px;" autofocus="autofocus" type="text" class="form-control" ng-model="model.fromTag"
            />
      </div>
      <span style="font-family: Menlo, 'Courier New', Terminal, monospace;vertical-align: bottom">...</span>

      <div class="form-group">
        <input style="margin-top: 20px;" autofocus="autofocus" type="text" class="form-control" ng-model="model.toTag"
            />
      </div>
      <button type="submit" class="btn btn-default">Erstellen</button>
    </form>
    <div style="margin-top:20px;" class="cms-vis-change-panel-error" ng-if="model.error">{{model.error}}</div>
  </div>


  <div ng-if="model.loading" class="progress progress-striped active">
    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
         style="width: 100%">
    </div>
  </div>

  <div class="cmsvis-change-panel-body" ng-if="model.range">


    <table class="table">
      <tbody style="font-size:18px">
        <tr class=" borderless" ng-if="model.commits.length">
          <td class="cmsvis-changelog-title" colspan="1" style="vertical-align: bottom">
            {{model.commits.length}} Changes
          </td>
          <td colspan="2">

            <table class="cmsvis-change-panel" style="font-size:14px">
              <tbody>
                <tr class="borderless">
                  <td style="padding-left:0;padding-bottom:0">Von</td>
                  <td style="padding-bottom:0">Commit # {{model.range.prevCommit.number}}</td>
                  <td style="padding-bottom:0">{{model.range.prevCommit.time | date:'dd.MM.yyyy HH:mm'}}</td>
                  <td style="padding-bottom:0">{{model.range.prevCommit.sha}}</td>
                </tr>
                <tr class="borderless">
                  <td style="padding-bottom:0; padding-left:0">Nach</td>
                  <td style="padding-bottom:0">Commit # {{model.range.toCommit.number}}</td>
                  <td style="padding-bottom:0">{{model.range.toCommit.time | date:'dd.MM.yyyy HH:mm'}}</td>
                  <td style="padding-bottom:0">{{model.range.toCommit.sha}}</td>
                </tr>
              </tbody>

            </table>

          </td>
        </tr>

        <tr ng-repeat="commit in model.commits">
          <td>{{commit.time | date:'dd.MM.yyyy HH:mm'}}</td>
          <td>{{commit.message}}</td>
          <td>{{commit.sha}}</td>
        </tr>
        <tr>
          <td colspan="3">{{model.range.query}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="margin-top:15px;text-align: right" class="col-md-12" ng-if="model.database">
    <p>Datenbankinhalt: Commits: {{model.database.commitCount}} | Changes: {{model.database.changeCount}} |
      Pullrequests:
      {{model.database.pullrequestCount}} | Builds: {{model.database.buildCount}}</p>
  </div>
  <div style="text-align: right" class="col-md-12" ng-if="model.database">
    <p>Neustes Event: {{model.database.lastEvent.cause}}, am {{model.database.lastEvent.time |
      date:"dd.MM.yyyy"}}, um {{model.database.lastEvent.time | date:"HH:mm"}} Uhr:
      {{model.database.lastEvent.objectId}}</p>
  </div>
</div>