<div ng-controller="SearchViewController">
  <div class="cmsvis-change-panel-header">

    <h2 class="cmsvis-change-panel-title">Wo ist mein Change?</h2>

    <form class="centered" ng-submit="submit()">
      <div class="input-group input-group-lg">

        <input autofocus="autofocus" type="text" class="form-control" ng-model="model.changeId"
               capitalize/>
        <span style="cursor:pointer;background-color: white;border:0;border-radius:0;box-shadow: none;"
              class="input-group-addon" ng-click="reset()">X</span>
      </div>
    </form>
    <div class="cms-vis-change-panel-error" ng-if="model.error">{{model.error}}</div>
  </div>


  <div class="cmsvis-change-panel-body" ng-if="model.history.change">

    <div class="cmsvis-change-summary" ng-if="model.history.change">
      {{model.history.change.summary}}
    </div>


    <table style="margin-top:20px;" class="table">

      <tbody style="font-size:18px">
        <tr class="borderless" data-cms-search-result-row
            data-title="'Pullrequest ' + model.history.change.targetBranch"
            data-entry="model.history.pullrequest"></tr>

        <tr>
          <td style="padding-top:30px;font-weight: bold;letter-spacing: 2px" colspan="5">BUGFIX</td>
        </tr>
        <tr data-cms-search-result-row data-title="'Jenkins Build'" data-entry="model.history.gesamtBuildBugfix">
          <td>
        </tr>
        <tr data-cms-search-result-row data-title="'DT01'" data-entry="model.history.dt01"></tr>

        <tr>
          <td style="padding-top:30px;font-weight: bold;letter-spacing: 2px" colspan="5">INTEGRATION</td>
        </tr>
        <tr data-cms-search-result-row data-title="'Merge auf Int'" data-entry="model.history.mergeBugfixInt"></tr>
        <tr data-cms-search-result-row data-title="'Jenkins Build'" data-entry="model.history.gesamtBuildInt"></tr>
        <tr data-cms-search-result-row data-title="'DT02'" data-entry="model.history.dt02"></tr>

        <tr>
          <td style="padding-top:30px;font-weight: bold;letter-spacing: 2px" colspan="5">MASTER</td>
        </tr>
        <tr data-cms-search-result-row data-title="'Merge auf Master'" data-entry="model.history.mergeIntMaster"></tr>
        <tr data-cms-search-result-row data-title="'Jenkins Build'" data-entry="model.history.gesamtBuildMaster"></tr>
        <tr data-cms-search-result-row data-title="'DT03'" data-entry="model.history.dt03"></tr>


        <tr>
          <td colspan="4">
            <form class="form-inline" style="font-size:16px">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="model.showQueries"> Queries anzeigen, Timeout (s):
                </label>
              </div>
              <div class="form-group">
                <label class="sr-only" style="font-weight: normal" for="queryTimeoutInput">Timeout (s)</label>
                <input
                    style="width: 60px;font-size: 14px;height:20px;text-align: right;margin-top:0;background-color:white;border: 0;webkit-box-shadow:none;box-shadow:none"
                    id="queryTimeoutInput" type="text" class="form-control"
                    ng-model="model.database.queryTimeout"
                    />
              </div>
            </form>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="margin-top:15px;text-align: right" class="col-md-12" ng-if="model.database">

    <p>Datenbankinhalt: Commits: {{model.database.commitCount}} | Changes: {{model.database.changeCount}} |
      Pullrequests:
      {{model.database.pullrequestCount}} | Builds: {{model.database.buildCount}}</p>
  </div>
  <div style="text-align: right" class="col-md-12" ng-if="model.database">
    <p>Neustes Event: {{model.database.lastEvent.cause}}, am {{model.database.lastEvent.time |
      date:"dd.MM.yyyy"}}, um {{model.database.lastEvent.time | date:"HH:mm"}} Uhr:
      {{model.database.lastEvent.objectId}}</p>
  </div>
</div>