<td class="cmsvis-history-entry-label">{{title}}</td>
<td>{{entry.time | date:'dd.MM.yyyy HH:mm'}}</td>
<td>{{entry.objectId}}</td>
<td>{{entry.description}}
  <span class="cmsvis-query-execution-time">{{entry.executionTime}}</span></td>
<td><img ng-if="entry.loading" src="images/ajax-loader.gif">
                    <span class="cmsvis-event-state glyphicon" ng-class="{'glyphicon-ok':entry.state==='ok',
                            'glyphicon-remove':entry.state==='problem'}"></span></td>
