<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ======================================================================= -->
    <!--           STYLESHEETS                                                   -->
    <!-- ======================================================================= -->

    <!-- External Fonts -->
    <link href='libs/googlefonts/googlefonts.css' rel='stylesheet' type='text/css'>
    <link href="libs/font-awesome_4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Twitter Bootstrap -->
    <link href="libs/bootstrap_3.0.0/css/bootstrap.css" rel="stylesheet" media="screen">

    <!-- Bootstrap theme -->
    <link href="libs/bootstrap_3.0.0/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- AngularJS Animations from https://github.com/Augus/ngAnimate/ -->
    <link rel="stylesheet" type="text/css" href="css/animations.css"/>

    <!-- Our own styles -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">

  </head>
  <body data-ng-app="cms.CmsApp">

    <div class="container" ng-controller="ViewsController">

      <div class="row">
        <div>
          <div class="col-md-12 cmsvis-change-panel">
            <ul class="nav nav-tabs">
              <li ng-repeat="entry in navBar.entries" data-ng-class="{'active':entry.active}"><a href="#{{entry.path}}">{{entry.title}}</a>
              </li>
            </ul>
            <div ng-view></div>
          </div>
        </div>
      </div>
    </div>
    <!-- ======================================================================= -->
    <!--           EXTERNAL LIBRARIES                                            -->
    <!-- ======================================================================= -->
    <!-- jQuery  -->
    <!-- AngularJS -->
    <script src="libs/angularjs_1.3.0.b11/angular.js"></script>
    <script src="libs/angularjs_1.3.0.b11/angular-animate.js"></script>
    <script src="libs/angularjs_1.3.0.b11/angular-route.js"></script>
    <!-- Bootstrap Javascript -->
    <script src="libs/bootstrap_3.0.0/js/bootstrap.min.js"></script>

    <!-- ======================================================================= -->
    <!--           "DYNAMICAL" BOOTSTRAP OF REQUIRED MODULES                     -->
    <!-- ======================================================================= -->

    <script src="js/cms/utils/UtilsModule.js"></script>
    <script src="js/cms/utils/Utils.js"></script>
    <script src="js/cms/utils/CapitalizeDirective.js"></script>

    <script src="js/cms/services/DbService.js"></script>


    <script src="js/cms/views/ViewsController.js"></script>
    <script src="js/cms/views/search/SearchViewModule.js"></script>
    <script src="js/cms/views/search/SearchResultRowDirective.js"></script>
    <script src="js/cms/views/search/SearchViewController.js"></script>
    <script src="js/cms/views/changelog/ChangelogViewController.js"></script>

    <!-- Overall Cms App -->
    <script src="js/cms/CmsApp.js"></script>
  </body>

</html>



