@font-face {
	font-family: 'Gudea';
	font-style: normal;
	font-weight: 400;
	src: local('Gudea'), url(fonts/kfCeUiT0HGXHQC8YVeaKy6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

@font-face {
	font-family: 'Gudea';
	font-style: normal;
	font-weight: 700;
	src: local('Gudea Bold'), local('Gudea-Bold'), url(fonts/6M2RKly85u67vSsXH0-zqnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

@font-face {
	font-family: 'Gudea';
	font-style: italic;
	font-weight: 400;
	src: local('Gudea Italic'), local('Gudea-Italic'), url(fonts/tZZo84E1pZ1XbFCB5vu4pwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
	font-family: 'Oxygen Mono';
	font-style: normal;
	font-weight: 400;
	src: local('Oxygen Mono'), local('OxygenMono-Regular'), url(fonts/BzV4DVOwAgGelLT9EC5xyrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}